
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> phpstorm ###
/.idea/fondation-barke.iml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/.gitignore
/.idea/php.xml
/.idea/phpunit.xml
/.idea/dictionaries/rashidtamboura.xml
###< phpstorm ###
/.idea/jsLibraryMappings.xml
